# Ignorar node_modules en ambos directorios
backend/node_modules/
frontend/node_modules/

# Ignorar archivos de entorno
backend/.env
frontend/.env

# Ignorar logs
logs
*.log
npm-debug.log*

# Ignorar archivos de compilación
backend/dist/
backend/build/
frontend/dist/
frontend/build/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Otros archivos que puedes querer ignorar
*.tgz
*.zip


.env